.banner-container{
    /* background: url('../../../img/img-1.jpg') center center/cover no-repeat; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .3s;
}
video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    position: absolute;
    top: 3rem;
    overflow: hidden;
  }
  .banner-container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
    transition: all .3s ease-in-out;
  }
  
  .banner-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  .hero-btns {
    margin-top: 32px;
  }
  
  .hero-btns .btn {
    margin: 6px;
  }
  
  .fa-play-circle {
    margin-left: 4px;
  }
  @media screen and (max-width: 1050px) {
    .banner-container > h1 {
      font-size: 70px;
      margin-top: -150px;
      transition: all .3s ease-in-out;
    }
  }
  
  
  @media screen and (max-width: 768px) {
    .banner-container > h1 {
      font-size: 50px;
      margin-top: -100px;
      transition: all .3s ease-in-out;
    }
  
    .banner-container > p {
      font-size: 30px;
      transition: all .3s ease-in-out;
    }
    .btn {
      width: 100%;
    }
  }
  .test{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    color: black;
  }
  @media screen and (max-width: 590px) {
    .banner-container > h1 {
      font-size: 30px;
      margin-top: -150px;
      transition: all .3s ease-in-out;
    }
  
    .banner-container > p {
      font-size: 18px;
      transition: all .3s ease-in-out;
    }
  }