:root{
  --bannerTextSecondaryColor:thistle;
}
.banner-container{
    /* background: url('../../../img/img-1.jpg') center center/cover no-repeat; */
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: white;
}
.content{
  background-color: var(--secondaryColor);
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.content * {
  font-weight: 500;
}
.image-container{
  position: relative;
  background-color: white;
  width: 50%;
  height: 100%;
  border-left: 100px solid var(--secondaryColor);;
  border-bottom: 100vh solid transparent;
}
.image-container .image{
    position: absolute;
    top:50%;
    left: 50%;
    width: 350px;
    height: 400px;
    transform: translate(-50%,30%);
    border-radius: 50px;
    background-image: url('../../../img/dkeshri.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner-container .content h1{
  font-weight: 500;
}
.banner-container .content h1:hover{
  font-weight: 500;
  color: var(--bannerTextSecondaryColor);
  transform: scale(1.1);
}
.banner-container .content h1 span{
  font-weight: 200;
}
.banner-container .content > span{
  font-weight: 300;
  font-size: 16px;
}
.banner-container .content > span:hover{
  color: var(--bannerTextSecondaryColor);
  transform: scale(1.1);
}
.banner-content-socialMedia{
  min-width: 40%;
  margin-top: 1.3rem;
}
.banner-content-socialMedia *:hover{
  color: var(--bannerTextSecondaryColor);
} 
.test{
  display: flex;
  justify-content: center;
  color: black;
  height: 100vh;
  background-color: white;
}