* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primaryColor:#373B44;
  --secondaryColor:#4a4e58;
  --textSecondary:grey;
}
a {
  text-decoration: none;
}
li{
  list-style: none;
}
.mainContentSection {
  width: 100%;
  /* background-color: var(--secondaryColor); */
  color: white;
  display: inline-block;
}



